<!DOCTYPE html>
<html ng-app="thisVsThat">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <title>thisVsThat</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    <script src="/js/app.js" type="text/javascript"></script>
    <script src="js/init.js"></script>


</head>
<body>


    <section ng-controller='UsersController'>

      <!-- NAVIGATION -->



          <nav class="red" role="navigation">
            <div class="nav-wrapper container">
              <a id="logo-container" href="#" class="brand-logo">thisVsThat</a>



      <!-- MODALS -->
              <ul class="right hide-on-med-and-down">


                <li ng-show="token" class="Log-Out">
                  <button class="waves-effect waves-light btn-flat"
                type="button" ng-click="logOut()" name="button">LogOut
                  </button>
                </li>

                <li ng-hide="token" class="sign-up">
                  <a class="waves-effect waves-light btn-flat modal-trigger" href="#modal1">Sign Up
                  </a>
                </li>


                <div id="modal1" class="modal grey">
                  <div class="modal-content">
                    <h4 >Sign Up</h4>
                    <form ng-submit="createUser()">
                      <input type="text" ng-model="newUser.username" placeholder="...username">
                      <input type="password" ng-model="newUser.password" placeholder="...password">
                      <input class="modal-action modal-close waves-effect waves-red btn-flat" type="submit">

                    </form>
                  </div>
                </div>


                <li ng-hide="token" class="log-in"><a class="waves-effect waves-light btn-flat modal-trigger" href="#modal2">Admin</a></li>

                <!-- Modal Structure -->
                <div id="modal2" class="modal grey">
                  <div class="modal-content">
                    <h4>Admin</h4>
                    <form ng-submit="obtainToken()">
                      <input type="text" ng-model="logInUser.username" placeholder="...username">
                      <input type="password" ng-model="logInUser.password" placeholder="...password">
                      <input class="modal-action modal-close waves-effect waves-red btn-flat" type="submit">
                    </form>
                 </div>

                </div>
              </ul>

              <!-- MOBILE NAV -->
              <ul id="nav-mobile" class="side-nav">
                <!-- Modal Trigger -->
                <li><a class="waves-effect waves-light btn modal-trigger" href="#modal1">Sign Up</a></li> -->


                <!-- Modal Structure -->
                <!-- <div id="modal1" class="modal">
                  <div class="modal-content">
                    <h4>Sign Up</h4>
                    <p>A bunch of text</p>
                  </div>
                  <div class="modal-footer">
                    <a href="#modal2" class=" modal-action modal-close waves-effect waves-green btn-flat">Sign Up</a>
                  </div>
                </div>



                <li><a class="waves-effect waves-light btn modal-trigger" href="#modal2">Admin</a></li>

                <!-- Modal Structure -->
                <div id="modal2" class="modal">
                  <div class="modal-content">
                    <h4>Admin</h4>
                    <p>A bunch of text</p>
                  </div>
                  <div class="modal-footer">
                    <a href="/" class=" modal-action modal-close waves-effect waves-green btn-flat">Admin</a>
                  </div>
                </div>
              </ul>
              <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
          </nav>



  <div class="container">


    <div ng-show="token" class="new-comparision">
      <form ng-submit="addComparision()">
        <input ng-model = "newComparision.name" type="text" name="name" placeholder="...comparision category eg- Programming Languages, cars, airlines etc">

        <ul>
          <li ng-repeat="item in newComparision.items">
            <input type="text" ng-model="item.name" placeholder="...item name">
            <input type="number" ng-model="item.votes" value="1" placeholder="...votes">
          </li>
          <button type="button" ng-click="addItem()" name="button">+</button>
        </ul>

        <input type="submit">
      </form>
    </div>


      <!-- <div class="valign-wrapper row">
        <div class="col s12">

          <ul >
            <li ng-repeat = 'comparision in comparisions'>
              <h3 class="center-align">{{ comparision.name }}</h3>
              <p class="center-align" ng-repeat = 'item in comparision.items'> {{item.name}} - {{ item.votes}}</p>
          <button type="button" ng-click="removeComparision(comparision)">Remove</button>
           </li>
         </ul>

       </div>
      </div> -->

    <!-- Show all comparisions -->
    <div class="valign-wrapper row" ng-repeat = 'comparision in comparisions'>
      <div class="col s6 offset-s3">
        <h3 class="center-align">{{ comparision.name }}</h3>
        <!-- <button type="button" ng-click="removeComparision(comparision)">Remove</button> -->

    <table>
       <thead class="center-align">
         <tr class="center-align">
             <th data-field="name">Name</th>
             <th data-field="Ups">Ups</th>
             <th class="right" data-field="Vote">Vote</th>
         </tr>
       </thead>

       <tbody>
         <tr ng-repeat = 'item in comparision.items'>
           <td>{{item.name}}</td>
           <td>{{ item.votes}}</td>
           <td class="right">
             <button class="grey" type="submit" ng-disabled="isDisabled" ng-click="disableButton(comparision, item)">
             <i class="tiny material-icons">+</i>
             </button>
           </td>
         </tr>
       </tbody>
     </table>
   </div>

   </div>

   <html>





</html>

   </div>

  </section>

</body>
</html>
